@media screen and (max-width: 980px) {
    #search {
        margin-left: -8em;
        width: 18em;
        
    }
    .logo {
        margin-top: -6%;
        margin-left: -33%;
        width: 73%;
        position: static;
    }
    .earningsOverTime{
        width: 7em;
    }
    .leaderboard{
        
    }
  
}
@media screen and (max-width: 768px) {
 
}
@media screen and (max-width: 480px) {

}