@media screen and (max-width: 980px) {
    #search {
        margin-left: -16%;
        width: 55%;
        
    }
    .logo {
        margin-top: -6%;
        margin-left: -7%;
        width: 56%;
        position: static;
    }
    .earningsOverTime{
        width: 7em;
    }
    .cChart {
        margin: 10%;
        margin-left: 5%;
        width: 50%;
        
    }
    .leaderboard{
        
    }
  
}
@media screen and (max-width: 768px) {
 
}
@media screen and (max-width: 480px) {

}

