nav {
    color: #ffffff;
}

.register {
    margin-top: 11%;
}

.login {
    margin-top: 16%;
    margin-left: 3%;
}
.vl {
    border-left: 6px solid gray;
    height: 600px;
    margin-top: 9%;
}

.card {
    padding: 0 !important;
}

#search {
    margin-left: -7em;
    width: 29em;
}

.user {
    margin-left: -10em;
    top: .5em;
}

.cChart {
    margin-top: 6em !important;
    margin: 1em;
    margin-left: 2em;

}

.leaderboard {
    margin-top: 6em !important;
    margin: 1em;
    height: 29em;

}

.earningsOverTime {
    font-size: 12px;
}

.totalEarnings {
    font-size: 12px;
}

.leaderboards {
    font-size: 10px;
}

.logo {
    margin-left: 0em;
}
.portfolio{
    margin-top:6em !important;
}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
}

.nav-link {
    color: black;
}
#loginReg {
    color: #6c757d;
}
#loginReg:hover{
    text-decoration: none;
    color: #ffffff
}
.canvasWrapper {
    width: 550px !important;
}

.coinRow:hover {
    background: #e0e0e0;
}

.buyAndSell {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buySellBtn {
    width: 100px;
    margin: 5px 45px 5px auto;
}

#userBalance {
    margin-left: 1em;
    font-size: 1em;
}

.howMuch {
    width: 175px;
    margin: 10px;
    margin-bottom: 30px;
    margin-top: 3.5em;
    margin-left:-4em;
}

.howMuch::placeholder {
    font-size: 10px;
}

.totalDisplay {
    height: 20px;
    display: block;
    margin: auto;
    margin-top: 30px;
}
.buy{
    margin-top: -1em;
    margin-left:-2em;
}
.sell{
    margin-left:-2em;
}

#lastUpdate {
    margin: 0;
}

.coinPftrow {
    background-color: #ffffff;
    border: 2px solid #eeeeee;
}
.leaderboardRow{
    background-color: #ffffff;
    border: 2px solid #eeeeee;
}
#leaderboardWrapper {
    overflow: scroll;
}
#loadingIcon {
    width: 35px;
    display: none;
}
.alertBtn {
    position: fixed;
    z-index: 2000;
}