nav {
    color: white;
}

.register {
    margin-top: 4%;
}

.login {
    margin-top: 10%;
    margin-left: 3%;
}

.card {
    padding: 0 !important;
}

#search {
    margin-left: -7em;
    width: 29em;
}

.user {
    margin-left: -10em;
    top: .5em;
}

.cChart {
    margin: 1em;
    margin-left: 2em;
    overflow: scroll;
}

.leaderboard {
    margin: 1em;
    height: 20em;
    overflow: scroll;
}

.logo {
    margin-left: 2em;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
}

.nav-link {
    color: black;
}

.canvasWrapper {
    width: 600px !important;
}

.coinRow:hover {
    background: #e0e0e0;
}
